:root {
  --violet1: hsl(255, 65%, 99.4%);
  --violet2: hsl(252, 100%, 99%);
  --violet3: hsl(252, 96.9%, 97.4%);
  --violet4: hsl(252, 91.5%, 95.5%);
  --violet5: hsl(252, 85.1%, 93%);
  --violet6: hsl(252, 77.8%, 89.4%);
  --violet7: hsl(252, 71%, 83.7%);
  --violet8: hsl(252, 68.6%, 76.3%);
  --violet9: hsl(252, 56%, 57.5%);
  --violet10: hsl(251, 48.1%, 53.5%);
  --violet11: hsl(250, 43%, 48%);
  --violet12: hsl(254, 60%, 18.5%);

  --shadow-color: 261deg 15% 63%;
  --shadow-elevation-low: 0px 0.5px 0.6px hsl(var(--shadow-color) / 0.34),
    0px 0.9px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    0px 2.1px 2.4px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium: 0px 0.5px 0.6px hsl(var(--shadow-color) / 0.36),
    0px 1.8px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    0px 4.4px 5px -1.7px hsl(var(--shadow-color) / 0.36),
    0.1px 10.7px 12px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0px 0.5px 0.6px hsl(var(--shadow-color) / 0.34),
    0px 3.1px 3.5px -0.4px hsl(var(--shadow-color) / 0.34),
    0.1px 5.8px 6.5px -0.7px hsl(var(--shadow-color) / 0.34),
    0.1px 9.6px 10.8px -1.1px hsl(var(--shadow-color) / 0.34),
    0.1px 15.3px 17.2px -1.4px hsl(var(--shadow-color) / 0.34),
    0.2px 23.9px 26.9px -1.8px hsl(var(--shadow-color) / 0.34),
    0.3px 36.4px 41px -2.1px hsl(var(--shadow-color) / 0.34),
    0.5px 53.6px 60.3px -2.5px hsl(var(--shadow-color) / 0.34);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
  background-color: var(--violet1);
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#p5 {
  width: fit-content;
  box-shadow: var(--shadow-elevation-medium);
}

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
}
